@charset "utf-8";
html{background:#fff;color:#000}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px "Microsoft Yahei","Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif}
input,select,textarea{font-size:100%}
iframe{display:block}
abbr,acronym{border:none;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:none}
a,ins{text-decoration:none}
:focus,a:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:after,q:before{content:''}
abbr,acronym{border:0}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:700}
.fn{font-weight:400}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
*html .clearfix{height:1%}
.vm{vertical-align:center}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.block{display:block}
.ftx-01{color:#707070}
.ftx-02{color:#333!important}
.ftx-03{color:#62b3ff}
.blue_bg:hover,.blue_btn:hover{background-color:#31b4e1;color:#fff}
.green_bg{background-color:#0C0}
.blue2_bg{background-color:#09C}
.violet_bg{background-color:#C69}
.orange_bg{background-color:#F60}
.red_bg{background-color:red}
.org{color:#F90}
.org2{color:#f3a43d}
.org3{color:#F60}
.red{color:red}
.red2{color:#ec5151}
.red3{color:#C00}
.blue{color:#31b4e1}
.blue2{color:#0071E1}
.navy{color:#009B9B}
.navy2{color:#707070}
.green{color:#2FBC5E}
.yellow{color:#C60}
.gray{color:#666}
.gray2{color:#999}
.bor_bt_das{border-bottom:1px dashed #dcdcdc}
.bor_top_das{border-top:1px dashed #dcdcdc}
.bor_top_not{border-top:0!important}